@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

tr{
  /* background-color: #57716E !important; */
}
.css-moqdou-getRowContainerStyle-Row{
  background-color: rgba(18, 98, 168, .2) !important;
  padding: 20px !important;
}